<div class="w-full h-full flex items-end ">
    <div class="bg-white w-full h-9/10 rounded-t-lg p-3">
        <h1 class="text-2xl font-bold mb-4">Transferencia a Terceros.</h1>
        
          @if (hasError()) {
            <div role="alert" class="alert alert-error mb-3">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
                <span>Error! Todos los campos no son válidos.</span>
            </div>
        }
        
        @if( hasConfirm() ){
            <div role="alert" class="alert alert-success mb-3">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
                <span>Transaccion Procesada.</span>
            </div>
        }

        <form 
            class="flex flex-col"
            [formGroup]="transferForm"
            (ngSubmit)="onSubmit()"
        >
            
            <div  *ngIf="accountResource.hasValue()" class="mb-3">
                <select 
                    class="select" 
                    (change)="onOptionChange($event)"
                    name="fromAccountNumber"
                    formControlName="fromAccountNumber" 
                >
                    <option disabled selected>Seleccionar Cuenta</option>
                    @for (item of accountResource.value().data; track $index) {
                        <option value="{{ item.accountNumber }}">Cuenta {{ $index + 1 }} - {{ item.accountNumber }}</option>
                    }

                </select>
                <p class="mx-3">Saldo Disponible: <strong #amountPrice> Q {{ selectedType }}</strong></p>
            </div>

            <input type="text" name="toAccountNumber" formControlName="toAccountNumber"  placeholder="Numero de Cuenta" class="input mb-2" />
            
            <input type="number" name="amount" formControlName="amount" placeholder="Monto" class="input mb-2" />

            <input type="text" name="description" formControlName="description" placeholder="Descripcion" class="input mb-2" />

                 
            <button type="submit" class="btn btn-secondary w-50">Confirmar Transferencia</button>

        </form>

    </div>
</div>
